@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-slate-900: #0f172a;
	--color-slate-800: #1e293b;
	--color-slate-700: #334155;
	--color-slate-600: #475569;
	--color-slate-500: #64748b;
	--color-slate-400: #94a3b8;
	--color-slate-300: #cbd5e1;
	--color-slate-200: #e2e8f0;
	--color-slate-100: #f1f5f9;
	--color-purple-600: #7c3aed;
	--color-purple-500: #8b5cf6;
	--color-purple-400: #a78bfa;
	--color-purple-300: #c4b5fd;
	--color-purple-200: #ddd6fe;
	--color-purple-100: #ede9fe;
	--font-sans: 'Space Grotesk', sans-serif;
	--font-mono: 'JetBrains Mono', monospace;
}
